# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/**/node_modules/
/**/.pnp/
/**/.pnp.js

# testing
/hahaweb-front-end/coverage

# production
/hahaweb-front-end/build

# misc
/**/.DS_Store
/**/.env.local
/**/.env.development.local
/**/.env.test.local
/**/.env.production.local

/**/npm-debug.log*
/**/yarn-debug.log*
/**/yarn-error.log*

/**/__pycache__/
/**/.vscode/

# data
/**/db.sqlite3
/**/fixtures/
/rawdata/
/old-book-web-front-end-master/